@charset "utf-8";
/* CSS Document */
.cellHeaderBack{
	background-color:#C8DAFF;
	font-weight: bold;
}

#Landingpage{
	background-color: #A8C5FF;
	height: 100vh;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

html {
  scroll-behavior: smooth;
}

/* Original Bootstrap class overwritten */


a, a:hover {
	color: #6B6B6B;
}

h1, h2{
	font-family: 'Raleway', sans-serif;
}

.margin-top{
	margin-top: 40px;
}

.badge-primary {
  color: #006C64;
  background-color: #ffffff;
}

.badge-primary:hover {
  color: #ffffff;
  background-color: #006C64;
	text-decoration: none;
}

.badge-secondary {
  color: #fff;
  background-color: #042960;
}

.badge-info {
  color: #fff;
  background-color: #347600;
}

.badge-light {
  background-color: #A8C5FF;
}

.bg-success{
	background-color: #006C64;
}

.bg-information{
	background-color: #4F003B;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.jumbotron {
	background-color: #C8DAFF;
}

.btn-primary{
	background-color: #006C64;
}

.btn-primary:hover{
	background-color: #00988D;
}
